/* input{
    height: 30px;
    width: 450px;
    position:relative;
    top: 5px;
    border:#EDEDED ;
    background-color: #EDEDED
    } */

    .icon{
        position: relative;
        top: 15px;
        background-color: white;
        border: none;
    }